<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />     
    <meta name="apple-mobile-web-app-capable" content="yes" />    -->
    <title>Document</title>
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
    <style>
        button{
            display: block;
        }
    </style>
</head>
<body>
    <button id="btn">确认</button>
    <script>
        window.onload = function(){
            var btn = document.getElementById('btn');
            console.log('sss');
            btn.onclick = function(){
                console.log('sss');
            }
            // btn.addEventListener('click',function(){
            //     console.log('sss');
            // },false);
        }
    </script>
</body>
</html>