doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 2017
    meta(content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/echarts.min.js')
    script(src='/javascripts/infographic.js')
    script(src='/javascripts/md5.min.js')
  body
    #inputname.inputname
      h1 2017，爱情
      .name
        label(for='name') 姓名
        input#username(type='text')
      button#but(onclick='$.init()') 确 认
    #main
    #closebutton.inputname2
      button(onclick='$.closeEchats()') 关 闭
    script(src='/javascripts/deal.js')
